/* Reinicio */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    width:100%;
    height:100%;
}

body{
    background:#000;
    overflow:hidden;
    position:relative;
}

/* Cuadrado retro-neón */
#player{
    position:absolute;

    width:32px;
    height:32px;

    background:#fff;
    border:2px solid #7df9ff;

    box-shadow:
        0 0 5px #7df9ff,
        0 0 10px #7df9ff,
        0 0 20px #7df9ff,
        0 0 40px #00ffff;

    animation: neonPulse 1.5s infinite alternate;
}
@keyframes neonPulse{
    from{
        box-shadow:
            0 0 5px #7df9ff,
            0 0 10px #7df9ff,
            0 0 20px #7df9ff,
            0 0 40px #00ffff;
    }

    to{
        box-shadow:
            0 0 10px #7df9ff,
            0 0 20px #7df9ff,
            0 0 40px #7df9ff,
            0 0 80px #00ffff;
    }
}
#menu{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:60px;

    background:#444;

    display:flex;
    align-items:center;
    gap:20px;

    padding:10px 20px;

    overflow:hidden;

    transition:height .4s ease;

    z-index:1000;
}
#menu.expanded{
    height:400px;
}

.section{
    color:white;
    font-family:monospace;
    display:flex;
    gap:8px;
    align-items:center;
}

.section select{
    background:#222;
    color:white;
    border:1px solid #777;
    padding:4px;
}
#trailContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.trail{
    position:absolute;

    color:white;
    font-family:monospace;
    font-size:18px;

    pointer-events:none;

    animation: fadeTrail 1.5s linear forwards;
}

@keyframes fadeTrail{
    from{
        opacity:1;
        transform:scale(1);
    }

    to{
        opacity:0;
        transform:scale(0.4);
    }
}
.design-round{
    border-radius:10px;
}

.design-border{
    border-width:5px !important;
}

.design-dots{
    background-image:
        radial-gradient(white 15%, transparent 16%);
    background-size:8px 8px;
}

.design-stripes{
    background-image:
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 4px,
            rgba(255,255,255,.4) 4px,
            rgba(255,255,255,.4) 8px
        );
}

.design-spikes{
    transform:rotate(45deg);
}
#speechBubble{
    position:fixed;
    top:75px;
    left:50%;
    transform:translateX(-50%);

    max-width:500px;

    background:#222;
    color:white;

    border:2px solid #666;
    border-radius:10px;

    padding:12px;

    font-family:monospace;
    font-size:14px;

    text-align:center;

    opacity:0;
    transition:.5s;

    z-index:2000;
}

#speechBubble.show{
    opacity:1;
}

.energyMode{
    filter:
        drop-shadow(0 0 10px gold)
        drop-shadow(0 0 20px gold)
        drop-shadow(0 0 30px gold);
}


#notificationContainer{
    position:fixed;

    top:140px;
    left:50%;

    transform:translateX(-50%);

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:8px;

    z-index:2000;

    pointer-events:none;
}

.notification{
    background:#333;
    color:#fff;

    border:2px solid cyan;
    border-radius:8px;

    padding:10px 16px;

    min-width:250px;

    text-align:center;

    font-family:monospace;

    box-shadow:
        0 0 10px rgba(0,255,255,.5);

    animation:notify 5s forwards;
}

@keyframes notify{
    0%{
        opacity:1;
        transform:translateX(0);
    }

    100%{
        opacity:0;
        transform:translateX(50px);
    }
}

#shop{
    margin-top:20px;

    background:#222;

    border:2px solid #666;

    padding:15px;

    display:none;

    width:100%;
}
    #pointsPanel{
    margin-left:auto;

    color:gold;

    font-family:monospace;

    font-size:18px;

    font-weight:bold;
}
